<hr class="hr-line">
<h3 class="title" style="font-size:30px;">
  {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope"></i></a>{% endif %}
  {% if site.twitter %}<a class="social-btn" href="https://twitter.com/{{ site.twitter }}"><i class="fa-brands fa-twitter"></i></a>{% endif %}
  {% if site.facebook %}<a class="social-btn" href="https://facebook.com/{{ site.facebook }}"><i class="fa-brands fa-facebook-f"></i></a>{% endif %}
  {% if site.linkedin %}<a class="social-btn" href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a>{% endif %}
  {% if site.instagram %}<a class="social-btn" href="https://instagram.com/{{ site.instagram }}"><i class="fa-brands fa-instagram"></i></a>{% endif %}
  {% if site.medium %}<a class="social-btn" href="https://medium.com/{{ site.medium }}"><i class="fa-brands fa-medium"></i></a>{% endif %}
  {% if site.orcid %}<a class="social-btn" href="https://orcid.org/{{ site.orcid }}"><i class="fa-brands fa-orcid"></i></a>{% endif %}
  {% if site.github-url %}<a class="social-btn" href="https://github.com/{{ site.github-url }}"><i class="fa-brands fa-github"></i></a>{% endif %}
  {% if site.stackoverflow %}<a class="social-btn" href="https://stackoverflow.com/users/{{ site.stackoverflow }}"><i class="fa-brands fa-stack-overflow"></i></a>{% endif %}
  {% if site.dribbble %}<a class="social-btn" href="https://dribbble.com/{{ site.dribbble }}"><i class="fa-brands fa-dribbble"></i></a>{% endif %}
  {% if site.pinterest %}<a class="social-btn" href="https://pinterest.com/{{ site.pinterest }}"><i class="fa-brands fa-pinterest"></i></a>{% endif %}
  {% if site.steam %}<a class="social-btn" href="https://steamcommunity.com/id/{{ site.steam }}"><i class="fa-brands fa-steam"></i></a>{% endif %}
  {% if site.youtube %}<a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}"><i class="fa-brands fa-youtube"></i></a>{% endif %}
  {% if site.soundcloud %}<a class="social-btn" href="https://soundcloud.com/{{ site.soundcloud }}"><i class="fa-brands fa-soundcloud"></i></a>{% endif %}
  {% if site.weibo %}<a class="social-btn" href="https://weibo.com/{{ site.weibo }}"><i class="fa-brands fa-weibo"></i></a>{% endif %}
  {% if site.flickr %}<a class="social-btn" href="https://flickr.com/{{ site.flickr }}"><i class="fa-brands fa-flickr"></i></a>{% endif %}
  {% if site.codepen %}<a class="social-btn" href="https://codepen.io/{{ site.codepen }}"><i class="fa-brands fa-codepen"></i></a>{% endif %}
  {% if site.keybase %}<a class="social-btn" href="https://keybase.io/{{ site.keybase }}"><i class="fa-brands fa-keybase"></i></a>{% endif %}
  {% if site.hackernews %}<a class="social-btn" href="https://news.ycombinator.com/user?id={{ site.hackernews }}"><i class="fa-brands fa-hacker-news"></i></a>{% endif %}
  {% if site.strava %}<a class="social-btn" href="https://strava.com/athletes/{{ site.strava }}"><i class="fa-brands fa-strava"></i></a>{% endif %}
</h3>
